@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Para empezar a usar la app, por favor inicie sesión:</p>
    <a class="btn btn-lg btn-primary" asp-action="Index"  asp-controller="Login"> Iniciar Sesión </a>
</div>
